src/PSParquet/bin/*
src/PSParquet/obj
.vs/*
src/PSParquet/.vs/*
output/*
PSParquet/bin/*
Tests/data/*

# Keep the required DLLs
!src/PSParquet/bin/Debug/net7.0/IronCompress.dll
!src/PSParquet/bin/Debug/net7.0/Microsoft.IO.RecyclableMemoryStream.dll
!src/PSParquet/bin/Debug/net7.0/Parquet.dll
!src/PSParquet/bin/Debug/net7.0/Snappier.dll